.inputdata
{
    background-color:gray;
    color: gray;  /* font color */
    font: bold 15px sans-serif;
    height:550;
    width:150px;
}
/* .button */
/* { */
/*     text-align:center; */
/*     background-color: teal; */
/*     font-style:normal; */
/*     width: 100px; */
/*     height: 50px; */
/* } */
form
{
    margin: 0 0 0 0;
}
h3
{
    color: navy;
}
p
{
    color:white;
    margin: 0 0 0.3px 0.2px;
}
