body {
    margin:3px 10px 10px 10px;
    /* padding: 1cm 1cm 1cm 1cm; */
    background-repeat:no-repeat;
    background-position:right top;
    text-align: center;
    font: "Lucida Grande", "Bitstream Vera Sans", "Verdana" 13px/30px italic bold sans-serif;
    color: LightGoldenrodYellow;  /* font color */
}
h1
{
    text-align:center;
    font-family:serif;
}
h3
{
   margin: 4px 10px;
}
div
{
    border: 1;
}
p
{
    font:serif medium;
    margin: 0 0;
    /* color: white; */
    width: 570px;
    background-color: LightGray;
    color: LightGoldenrodYellow;  /* font color */
}
hr
{
    outline:black; /* dotted thick; */
    outline-width: 4px;
    background-color: black;
}
.container
{
   width:570px;
   height: 900px;
   background-color: teal;
}

table
{
  margin: 20px 40px 30px 200px;
  
}
table th
{
    border-width: 1px;
    border-style:solid;
    font-family: verdana,arial,sans-serif;
    font-size: 20px;
    color: white;
    border-collapse: collapse;
    border-color: white;
    background-color: black;
    width: 70%;
    position: inherit;
    table-layout:auto;
}

table td
{
    border: solid;
    border: 1;
    font-size: 15px;
    background-color: gray;
    border-color: white;
}

td.up
{
    background-color: rgb(250,0,0);
}